
@{
    ViewData["Title"] = "Index";
}
@model List<BusinessLibrary.Models.Book>

<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/Custom.css">
</head>
<body>
    <div class="ToppageBoekindex">
        Boekoverzicht
        <span style="color:red; font-style:oblique; display:block; padding-top:10px;">  @Html.ValidationMessage("Alert") </span>
        <span style="color:green; font-style:oblique; display:block;"> @Html.ValidationMessage("Succes")</span>
    </div>
    <br />
        @foreach (var book in Model)
        {
            <button style="float:left;" type="submit" class="col-3 Boek" onclick="location.href='@Url.Action("BoekWijzigen", "Book", new { id = book.ISBN })'">Boek ISBN: @book.ISBN <br /> Boek titel: @book.Title </button>
        }
</body>
</html>



