
@{
    ViewData["Title"] = "Test";
}

@model Kaliber.Models.Book

<div class=" = text-left">
    <form method="post" asp-controller="BookController" asp-action="SaveImagePath" enctype="multipart/form-data">
        <label> ISBN </label> <input type="text" name="ISBN" /> <br />
        <label> Title </label> <input type="text" name="Title" /> <br />
        <label> Subtitle </label> <input type="text" name="Subtitle" /> <br />
        <label> AuthorFN </label> <input type="text" name="AuthorFN" /> <br />
        <label> AuthorPP </label> <input type="text" name="AuthorPP" /> <br />
        <label> AuthorLN </label> <input type="text" name="AuthorLN" /> <br />
        <label> Publisher </label> <input type="text" name="Publisher" /> <br />
        <label> Category </label> <input type="text" name="Category" /> <br />
        <label> Year_Of_Publication </label> <input type="text" name="Year_Of_Publication" /> <br />
        <label> Cover_Photo </label> <input type="file" name="Cover_Photo" /> <br />
        <input type="submit" value="Go" />
    </form>
</div>





@*<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

    @using (Html.BeginForm("SaveImagePath", "Book", FormMethod.Post, new { enctype = "multiplart/form-data" }))
    {
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">Person Details</th>
        </tr>
        <tr>
            <td>ISBN: </td>
            <td>
                @Html.TextBoxFor(m => m.ISBN)
            </td>
        </tr>
        <tr>
            <td>Titel: </td>
            <td>
                @Html.TextBoxFor(m => m.Title)
            </td>
        </tr>
        <tr>
            <td>Ondertitel: </td>
            <td>
                @Html.TextBoxFor(m => m.Subtitle)
            </td>
        </tr>
        <tr>
            <td>Voornaam auteur: </td>
            <td>
                @Html.TextBoxFor(m => m.author.Firstname)
            </td>
        </tr>
        <tr>
            <td>Tussenvoegsel: </td>
            <td>
                @Html.TextBoxFor(m => m.author.Preposition)
            </td>
        </tr>
        <tr>
            <td>Achternaam auteur: </td>
            <td>
                @Html.TextBoxFor(m => m.author.Lastname)
            </td>
        </tr>
        <tr>
            <td>Uitgever: </td>
            <td>
                @Html.TextBoxFor(m => m.publisher.Name)
            </td>
        </tr>
        <tr>
            <td>Categorie: </td>
            <td>
                @Html.TextBoxFor(m => m.Category)
            </td>
        </tr>
        <tr>
            <td>Jaar van Uitgave: </td>
            <td>
                @Html.TextBoxFor(m => m.Year_Of_Publication)
            </td>
        </tr>
        <tr>
            <td>Cover afbeelding: </td>
            <td>
                <input type="file" name="Image"/>
                <br />
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    }
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>*@
